* {
	box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
	margin: 0;
}

/* Typography */

h1 {
    font-weight: 400;
	font-size: 2.5rem;
	text-shadow: 0 2.5px #816fca;
}

h2 {
	font-size: 2.25rem;
	margin: 0.167em 0;
}

p{
	font-size: 1.125rem;
	line-height: 1.35;
}

.subheading {
    color: #575757;
	margin-bottom: 0.25em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
    font-weight: 900;
}

.top-text {
	font-size: 0.875rem;
	padding-top: 0.25em;
	border-top: 5px solid #fff;
	order: -1;
	margin: 0 auto;
 }

.fine-print {
	font-size: 0.75rem;
	letter-spacing: 1px;
	color: #858585;
 }

/* Intro */

.intro {
	background-color: #9480e4;
	background-image: url(./images/intro-bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
    color: #fff;
	min-height: 250px;
	justify-content: space-between;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1.25em;
}

/* Main content */

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5em 2em 0;
}

.img-main {
	width: 140px;
	border-radius: 50%;
}

.main-content p,
form {
	max-width: 450px;   
}

/* Form */

input {
	font-family: inherit;
	width: 100%;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border: 2px solid #d1d5db;
	border-radius: 5px;
}

input:focus {
	background-color: #e6e8ec;
	outline: none;
	border-color: #8a71ec;
}

.btn {
	font-family: inherit;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0.75em 0;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	cursor: pointer;
}

.btn-primary {
	color: #fff;
	background-color: #8a71ec;
	margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #b7a7f6;
}

/* Media queries */

@media (min-width: 768px)
{
	body {
		display: flex;
	}

	.intro,
	.main-content {
		width: 50%;
	}

	.intro {
		min-height: 100vh;
	}

	.main-content {
		justify-content: center;
		padding-top: 0;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.625rem;
	}

	.beta-text {
		font-size: 1.25rem;
	}
}